.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 25vw;
  padding: 2vw 2vh;
  background-color: #3AD886;
  border-radius: 5px;
  text-align: left;
  font-size: x-small;
}

.button-box {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

.button {
  background-color: #D34735;
  border-radius: 5px;
}

.product-box {
  display: flex;
  width: 35vw;
  background-color: #D34735;
  border-radius: 5px;
  margin: 7px;
}

.product-image {
  width: 8vw;
  height: 10vh;
  margin: 7px;
}